
/* CSS HEX */
--russian-violet: #0b0033ff;
--dark-purple: #370031ff;
--antique-ruby: #832232ff;
--copper-crayola: #ce8964ff;
--key-lime: #eaf27cff;
/* CSS HSL */
--russian-violet: hsla(253, 100%, 10%, 1);
--dark-purple: hsla(307, 100%, 11%, 1);
--antique-ruby: hsla(350, 59%, 32%, 1);
--copper-crayola: hsla(21, 52%, 60%, 1);
--key-lime: hsla(64, 82%, 72%, 1);
/* SCSS HEX */
$russian-violet: #0b0033ff;
$dark-purple: #370031ff;
$antique-ruby: #832232ff;
$copper-crayola: #ce8964ff;
$key-lime: #eaf27cff;
/* SCSS HSL */
$russian-violet: hsla(253, 100%, 10%, 1);
$dark-purple: hsla(307, 100%, 11%, 1);
$antique-ruby: hsla(350, 59%, 32%, 1);
$copper-crayola: hsla(21, 52%, 60%, 1);
$key-lime: hsla(64, 82%, 72%, 1);
/* SCSS RGB */
$russian-violet: rgba(11, 0, 51, 1);
$dark-purple: rgba(55, 0, 49, 1);
$antique-ruby: rgba(131, 34, 50, 1);
$copper-crayola: rgba(206, 137, 100, 1);
$key-lime: rgba(234, 242, 124, 1);
/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0b0033ff, #370031ff, #832232ff, #ce8964ff, #eaf27cff);
$gradient-right: linear-gradient(90deg, #0b0033ff, #370031ff, #832232ff, #ce8964ff, #eaf27cff);
$gradient-bottom: linear-gradient(180deg, #0b0033ff, #370031ff, #832232ff, #ce8964ff, #eaf27cff);
$gradient-left: linear-gradient(270deg, #0b0033ff, #370031ff, #832232ff, #ce8964ff, #eaf27cff);
$gradient-top-right: linear-gradient(45deg, #0b0033ff, #370031ff, #832232ff, #ce8964ff, #eaf27cff);
$gradient-bottom-right: linear-gradient(135deg, #0b0033ff, #370031ff, #832232ff, #ce8964ff, #eaf27cff);
$gradient-top-left: linear-gradient(225deg, #0b0033ff, #370031ff, #832232ff, #ce8964ff, #eaf27cff);
$gradient-bottom-left: linear-gradient(315deg, #0b0033ff, #370031ff, #832232ff, #ce8964ff, #eaf27cff);
$gradient-radial: radial-gradient(#0b0033ff, #370031ff, #832232ff, #ce8964ff, #eaf27cff);

header {
    text-align:center;
}

h2 {
  color: mediumvioletred;
  font-size: larger
}

mat-grid-tile {
    color: cornflowerblue;
    align-content: center;
    text-align: center;
    outline: solid;
    outline-color:black;
    display:block;
}
.contatiner > div {
  float: left;
}

footer {
  text-align: center;
  padding-bottom: 5px;
}
