name: .NET Build && Test

on:
  pull_request:
    branches: [ "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET source
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x

    - name: Restore dependencies
      working-directory: ./ConcurrenceAPI
      run: dotnet restore
      
    - name: Build Source
      working-directory: ./ConcurrenceAPI
      run: dotnet build --no-restore
      
    - name: Run tests
      working-directory: ./ConcurrenceAPI
      run: dotnet test --no-build --verbosity normal
